body{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
table{
    color: aliceblue;
    
    padding: 80px;
    border-spacing: 0px;
    border-color: grey;
}
table td{
width: 100px;
padding: 20px;
}
table th{
    width: 200px;
    padding: 20px;
}
table tr:nth-child(odd){
    background-color: grey;
}
table tr:nth-child(even){
background-color: rgb(52, 47, 47);
}
button{
    background-color: aqua;
    padding: 5px;
    border-radius: 10px;
}
    
