.parent{
    position: absolute;
    background-image: linear-gradient(to right, red,violet,rgb(43, 144, 227));
    height: 400px;
    width: 950px;
    margin-top: 100px;
    margin-left: 150px;
}
body{
    background-color: rgb(2, 2, 47);
    
}
.child{
    position: absolute;
    height: 325px;
    width: 250px;
    background-color: rgb(53, 53, 53);
    margin-top: 137px;
    margin-left: 200px;
}
.child2{
    position: absolute;
    height: 325px;
    width: 500px;
    background-color: rgb(53, 52, 52);
    margin-top:137px ;
    margin-left: 525px;

}
.a{
    position: absolute;
    color:red;
    padding-left: 200px;
    padding-top: 10px;
    
}
.b{
    position: absolute;
    color: white;
    padding-top: 60px;
    padding-left: 140px;
    
    
}
.c{
    position: absolute;
    color: brown;
    padding-top: 180px;
    padding-left: 90px;
}
.d{
    position: absolute;
    color: white;
    padding-top: 220px;
    padding-left: 76px;
}
